/*
Nothing defined here. The Hugo project that uses this theme can override Bootstrap by adding a file to:
assets/scss/_handbook.scss
*/

img {
   max-width: 100%;
}

.DocSearch-Hit mark {
   padding: 0;
}

// data parameter in frontmatter
.gl-status {
   background-color: #f4f0ff;
   border-radius: 0.25rem;
   color: #212529;
   font-size: 0.875rem;
   margin-bottom: 1.5rem;
   margin-top: 1.5rem;
   padding: 0.5rem 0.75rem;

   i {
      display: inline-block;
      margin-right: 0.25rem;
   }
}

html[data-bs-theme="dark"] {
   .gl-status {
      background-color: #D4CAEB;

      a {
         color: #6e49cb;
      }
   }
}

// public handbook homepage
a.btn-lg {
   color: #fff !important;
}
.td-box--dark > .col > .row > .row > .go-for-a-spin {
   border-right: 3px solid #fff !important;
   padding-bottom: 0px !important;
}
.td-box--dark > .col > .row > .row > .col > a {
   color: #bdd7fe;
}
.td-box--dark > .col > .row > hr {
   display: none;
}
.td-box--dark > .col > .row > p {
   display: none;
}
.td-main > .td-box--height-min {
   text-align: center;
   padding-bottom: 0;
   min-height: 0;
   height: fit-content;
}

#td-block-1 {
   padding-top: 0;
}

#td-lead {
   padding-top: 0;

   h1 {
      font-size: 3.125rem;
      font-weight: 660;
      letter-spacing: -.03em;
      line-height: 1.04;
   }
}

.lead--card {
   border: 1px solid rgb(236, 236, 239);
   border-radius: 8px;
   box-sizing: border-box;
   height: 100%;
   padding: 32px;

   svg {
      display: block;
      height: 32px;
      margin-bottom: 0.75rem;
   }

   // dark mode support
   [data-bs-theme="dark"] & {
      border-color: #495057;
   }
   
   ul > li {
      margin-bottom: 0.25rem;

      a:hover { 
         text-decoration: none;
      }
   }
}


// homepage smaller screens
@media (max-width: 768px) {
   #td-lead {
      h1 {
         font-size: calc(1.425rem + 2.1vw)
      }
      .lead {
         font-size: 1.125rem;
         margin-bottom: 1.25rem;
         margin-top: 1.25rem;
      }
   }

   .td-box .row {
      padding-left: 2vw;
      padding-right: 2vw;
   }

   .lead--card {
      padding: 20px;
   }
}